<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/layout}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <th:block layout:fragment="css">
        <style th:inline="css">
            .center-img {
                height: 500px;
                width: 400%;
            }

            .card-text {
                height: 300px;
            }
        </style>
    </th:block>

    <title>배배쉐어</title>

    <th:block layout:fragment="script">
        <script type="text/javascript" th:inline="javascript">
            function uploadImage(id) {
                var result;
                $.ajax({
                    url: '/upload',
                    type: "POST",
                    enctype: 'multipart/form-data',
                    data: new FormData($("#" + id)[0]),
                    contentType: false,
                    processData: false,
                    async: false,
                    success: function (imagePath) {
                        result = imagePath;
                    },
                    error: function () {
                        alert("값을 가져오지 못했습니다.");
                    }
                });
                return result;
            }

            /* 상품 정보 DB 저장 */
            function createProduct(){
                var user = [[ ${user} ]];
                var title = document.querySelector('#form-title').value;
                var contents = document.querySelector('#form-contents').value;
                var category = $("input:radio[name='form-tag']:checked").val();
                var productImage1 = uploadImage("form-images1");
                var productImage2 = uploadImage("form-images2");
                var productImage3 = uploadImage("form-images3");
                data = {
                    'user' : user,
                    'productName' : title,
                    'productContent' :contents,
                    'productImage1' : productImage1,
                    'productImage2' : productImage2,
                    'productImage3' : productImage3,
                    'productCategory' : category,
                    'productStatus' : "S",
                    'deleteYn' : "N"
                };
                $.ajax({
                    url : '/api/v1/product',
                    type : "POST",
                    contentType: 'application/json',
                    data : JSON.stringify(data),
                    async : true,
                    success : function(result){
                        alert(result);
                    },
                    error: function(request,error) {
                        // alert("값을 가져오지 못했습니다.");
                        alert("code : "+request.status+" \n "
                            +"message : "+request.responseText+"\n"
                            +"error: "+error)
                    }
                })
            }
        </script>
    </th:block>
</head>

<!-- navbar -->
<th:block layout:fragment="content">

    <!-- main -->
    <div class="container p-5">
        <!-- post upload form title & contents & multiple images & image preview -->
        <div class="row justify-content-center d-flex">
            <div class="col-md-10">
                <!-- form title input -->
                <div class="form-group">
                    <div class="mb-4">
                        <label for="form-title">제목</label>
                        <input type="text" class="form-control" id="form-title" name="title" placeholder="제목을 입력해주세요." required>
                    </div>
                    <!-- select tags use toggle button -->
                    <div class="form-group mb-4">
                        <!-- select tags checkbox-->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="form-tag" value="여행">여행
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="form-tag" value="여행">운동
                        </div>
                        <!-- tags -->
                    </div>
                    <!-- contents -->
                    <div class="form-group mb-4">
                        <label for="form-contents">내용</label>
                        <textarea class="form-control" id="form-contents" rows="15" required></textarea>
                    </div>
                    <!-- images -->
                    <div class="form-group mb-4">
                        <label >이미지</label>
                        <form class="image-group" id="form-images1" method="post" enctype="multipart/form-data" >
                            <input id="image1" type="file" name="image"/>
                        </form>
                        <form class="image-group" id="form-images2" method="post" enctype="multipart/form-data" >
                            <input id="image2" type="file" name="image"/>
                        </form>
                        <form class="image-group" id="form-images3" method="post" enctype="multipart/form-data" >
                            <input id="image3" type="file" name="image"/>
                        </form>
                        <!-- images -->
                    </div>
                    <!-- 등록 취소 버튼 in center -->
                    <div class="form-group d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" id="post-cancel" onclick="location.href='/'">취소</button>
                        <button type="submit" class="btn btn-primary" id="post-submit" th:onclick="'javascript:createProduct()'">등록</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>

