<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/layout}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <th:block layout:fragment="css">
          <style th:inline="css">
              .center-img{
                  height: 300px;
                  width: 100%;
              }
              .card-text{
                  height: 300px;
              }
          </style>
      </th:block>

      <title>배배쉐어</title>

      <th:block layout:fragment="script">
          <script>


          </script>
      </th:block>
  </head>

  <!-- navbar -->
  <body>

    <!-- main -->
    <div class="container p-5">
      <!-- post upload form title & contents & multiple images & image preview -->
      <div class="row justify-content-center d-flex">
        <div class="col-md-10">
          <!-- form title input -->
          <div class="form-group">
            <div class="mb-4">
              <label for="form-title">제목</label>
              <input type="text" class="form-control" id="form-title" name="title"placeholder="제목을 입력해주세요.">
            </div>
            <!-- select tags use toggle button -->
            <div class="form-group mb-4">
              <!-- select tags checkbox-->
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="form-tags" value="1">
                <label class="form-check-label" for="form-tags">여행</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="form-tags" value="2">
                <label class="form-check-label" for="form-tags">운동</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="form-tags" value="3">
                <label class="form-check-label" for="form-tags">여행</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="form-tags" value="4">
                <label class="form-check-label" for="form-tags">운동</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="form-tags" value="5">
                <label class="form-check-label" for="form-tags">여행</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="form-tags" value="6">
                <label class="form-check-label" for="form-tags">운동</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="form-tags" value="7">
                <label class="form-check-label" for="form-tags">여행</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="form-tags" value="8">
                <label class="form-check-label" for="form-tags">운동</label>
              </div>
              <!-- tags -->
            </div>
            <!-- contents -->
            <div class="form-group mb-4">
              <label for="form-contents">내용</label>
              <textarea class="form-control" id="form-contents" rows="15"></textarea>
            </div>
            <!-- images -->
            <div class="form-group mb-4">
              <label for="form-images">이미지</label>
              <div class="input-group">
                <input type="text" class="form-control" id="form-images" placeholder="이미지를 업로드해주세요.">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="toggle-images">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <!-- images -->
              <div class="form-group" id="images-list">
                <div class="input-group">
                  <input type="text" class="form-control" id="form-images" placeholder="이미지를 업로드해주세요.">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="toggle-images">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- images -->
              <div class="form-group" id="images-list">
                <div class="input-group">
                  <input type="text" class="form-control" id="form-images" placeholder="이미지를 업로드해주세요.">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="toggle-images">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- images -->
            </div>
            <!-- 등록 취소 버튼 in center -->
            <div class="form-group d-flex justify-content-between">
              <button type="button" class="btn btn-secondary" id="post-cancel">취소</button>
              <button type="submit" class="btn btn-primary" id="post-submit">등록</button>
            </div>

        </div>
      </div>
      
    </div>
    </div>
  </body>
    <!-- main -->


