<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/layout}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <th:block layout:fragment="css">
          <style th:inline="css">
              .float{
                  position:fixed;
                  width:60px;
                  height:60px;
                  bottom:40px;
                  right:40px;
                  background-color:blue;
                  color:black;
                  border-radius:50px;
                  text-align:center;
                  box-shadow: 2px 2px 3px #999;
              }

              .my-float{
                  margin-top:22px;
              }
              .card-img-top{
                  height: 200px;
                  width: 100%;
              }
          </style>
      </th:block>

      <title>배배쉐어</title>

      <th:block layout:fragment="script">
          <script>


          </script>
      </th:block>
  </head>

  <th:block layout:fragment="content">

    <!-- navbar -->
    <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <a style="text-decoration:none; color: black;" href="/">
          <h2>베베쉐어</h2>
        </a>
      </div>
      <div class="col-md-3"></div>
      <!-- 로그인 버튼 d-none을 없애면 표시된다 -->
      <div class="col-md-2 d-none">
        <button type="button" class="btn btn-primary" >로그인</button>
      </div>
      <!-- 로그인 버튼 -->
      <!--- 프로필 이미지 -->
      <div class="col-md-2" > 
        <button type="button" class="btn btn-link">
          <img class="rounded-circle w-50 h-50" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
          data-holder-rendered="true">
        </button>
      </div>
      <!--- 프로필 이미지 -->
    </div>
    <!-- navbar -->
    <!-- main -->
    <div class="container pl-5 pr-5">
      <!-- user profile -->
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <img class="rounded-circle w-100 h-100" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
          data-holder-rendered="true">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <h3>이름</h3>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <p class="border border-primary rounded-pill p-2 text-primary w-100">
            나눔한 횟수: 1회
          </p>
          <p class="border border-primary rounded-pill p-2 text-primary w-100">
            나눔받은 횟수: 1회
          </p>
          <p class="border border-primary rounded-pill p-2 text-primary w-100">
            남은나눔 받기 횟수: 1회
          </p>
        </div>
        <div class="col-md-2"></div>
      </div>
      <!-- user profile -->

      <!-- 카테고리 선택 탭 나눔한 내역, 나눔받은 내역, 찜목록, 댓글-->
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">나눔한 내역</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">나눔받은 내역</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">찜목록</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">댓글</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2"></div>
      </div>
      <!-- 카드 리스트 -->
      <div name="card-list">
        <div class="row d-flex justify-content-center" style="margin-top: 20px;">
          <div class="col-md-12">
            <div class="row">
              <!-- 카드 아이템 -->
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap" >
                  <div class="card-body">
                    <h5 class="card-title">제목</h5>
                    <div class="d-flex justify-content-between ">
                      <p class="card-text"><small class="text-muted">5분전</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 카드 아이템 -->
              <!-- 카드 아이템 -->
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">제목</h5>
                    <div class="d-flex justify-content-between ">
                      <p class="card-text"><small class="text-muted">5분전</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 카드 아이템 -->
              <!-- 카드 아이템 -->
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">제목</h5>
                    <div class="d-flex justify-content-between ">
                      <p class="card-text"><small class="text-muted">5분전</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 카드 아이템 -->
              <!-- 카드 아이템 -->
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">제목</h5>
                    <div class="d-flex justify-content-between ">
                      <p class="card-text"><small class="text-muted">5분전</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 카드 아이템 -->
              <!-- 카드 아이템 -->
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">제목</h5>
                    <div class="d-flex justify-content-between ">
                      <p class="card-text"><small class="text-muted">5분전</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 카드 아이템 -->
            </div>
          </div>
        </div>
        <!-- 카드 리스트 -->

        <div class="row d-flex justify-content-center">
          <button type="button" class="btn btn-link">더보기</button>
        </div>
        <!-- add button-->
      </div>
      <!-- 댓글 리스트 d-none를 해지해 볼 수 있다-->
      <div class="row justify-content-center d-none">
        <div class="col-md-12">
          <!-- 댓글 (작성자)-->
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle img-fluid" alt="">
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-10">
                      <p>댓글 내용</p>
                    </div>
                    <div class="col-md-2">
                      <span style="font-size: 12px;">2020-05-05</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 댓글 -->
          <!-- 댓글 (글 작성자)-->
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle img-fluid" alt="">
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-10 justify-content-center">
                      <p>댓글 내용</p>
                    </div>
                    <div class="col-md-2 justify-content-center">
                      <span style="font-size: 12px;">2020-05-05</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 댓글 -->
          <!-- 댓글 -->
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle img-fluid" alt="">
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-10 justify-content-center">
                      <p>댓글 내용</p>
                    </div>
                    <div class="col-md-2 justify-content-center">
                      <span style="font-size: 12px;">2020-05-05</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 댓글 -->
        </div>

    </div>
    </div>
  </th:block>
</html>